       <script src="/js/popper.js"></script>
       <script src="/js/bootstrap.min.js"></script>
       <script src="/js/jquery-3.4.1.min.js"></script>
       <script src="/js/all.js"></script>
       <script src="/js/jsdom.js"></script>
       <section class="footer w-100 col-*-12" style="margin-bottom: 0;">
           <p class="text-center">
               Copyright &copy; <%= new Date().getFullYear() %> StudentApp
           </p>
       </section>
    </body>
</html>